version: "3.4"

networks:
  internal:
#    ipam:
#      config:
#        - subnet: $PHRASEANET_DOC

services:
  sphinx:
    build:
      context: .
      target: phraseanet-doc-sphinx
      #args:
    image: local/phraseanet-doc-sphinx:latest
    restart: on-failure
    volumes:
    - ./_build:/docs/_build:rw
  #  environment:
  #  ports:
      #- ${PHRASEANET_APP_PORT}:80
    networks:
      - internal

  nginx:
    build:
      context: .
      target: phraseanet-doc-nginx
      #args:
    image: local/nginx:latest
    restart: on-failure
    volumes:
    - ./_build/html:/usr/share/nginx/html
    environment:
    - PHRASEANET_DOC_NGINX_PORT
    #- GATEWAY_SEND_TIMEOUT
    #- GATEWAY_PROXY_TIMEOUT
    #- GATEWAY_FASTCGI_TIMEOUT
    ports:
      - ${PHRASEANET_DOC_NGINX_PORT}:80
    networks:
      - internal

